{% extends 'base.html' %}
{% load static %}

{% block title %}Home page{% endblock %}

{% block content %}
<div class="has-text-centered">
  <p class="title is-1">TopoProxy</p>
  <figure class="image is-inline-block is-128x128">
    <img src="{% static 'images/proto.png' %}">
  </figure><br>
  <h3 class="subtitle is-3">
    A free internet proxy through facebook.
  </h3>
  <p class='subtitle'>Enter an URL to test the connectivity.</p>
  <div class='field has-addons has-addons-centered'>
    <div class="control">
	    <input id='query-input-text' class="input is-large" type='url' placeholder="http://neverssl.com" action='{% url 'ping' %}'>
    </div>
    <div class="control">
      <a id="query-input-button" class="button is-large is-primary">Ping</a>
    </div>
  </div>
  <br>
  <div id='query-output' class="message is-medium is-normal" hidden>
  	<div class="message-header">Response Header</div>
    <div class="message-body has-text-left" id="query-output-text">...</div>
  </div>
</div>
{% endblock %}
